
.user_container{

  border: 1px solid #CCC;
  border-radius: 10px;
  margin: 20px;
  padding: 50px;
  padding-top: 20px;
  width: 400px;



}
.modal-content {
    data-backdrop:"false" !important;
    z-index:1500 !important;
}
.modal-backdrop {
  z-index:0;
}
