<%inherit file="/base/templates/base.htm" />

<%block name="meta">
<meta charset="UTF-8">
<meta name="description" content="Managers maintain CHF data">
<meta name="keywords" content="CHF">
<meta name="author" content="Dan Morain">

</%block>

<%block name="head_links">
  <!-- App specific head links can be organized into here -->
    <link href="${STATIC_URL}manager/media/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">

</%block>

<%block name="admin">

  <%block name="header">
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/homepage/index/">Colonial Heritage Foundation</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/shop/index/">Store</a></li>
                <li><a href="/shop/index.rentals/">Rentals</a></li>
                <li id="tab"><a href="/events/index/">Events</a></li>

            % if request.user.is_staff:
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/manager/events">Events</a></li>
                      <li><a href="/manager/items">Items</a></li>
                      <li><a href="/manager/products">Products</a></li>
                      <li><a href="/manager/orders">Orders</a></li>
                      <li><a href="/manager/rentals">Rentals</a></li>
                      <li class="divider"></li>
                      <li><a href="/manager/users">Users</a></li>
                      <li class="divider"></li>
                      <li><a href="/manager/return">Rental Return</a></li>
                      <li><a id="show_overdue_rentals">See Overdue Rentals</a></li>
                      <li><a href="/manager/return.dash">Dashboard</a></li>
                    </ul>
                  </li>
            % endif
              </ul>

              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">

              % if request.user.username != '':

                <li><a href="/homepage/index.logout_view/">Logout</a></li>
                <li><a>${request.user.first_name}</a></li>

              % else:

                <li><a href="#" id="show_login_modal">Login</a></li>

              % endif

              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

  </%block> <!-- header -->


  <%block name="center">

  </%block> <!-- center -->


  <%block name="footer">

    <div class="footer">
      <nav class="footer navbar navbar-fixed-bottom">
      </nav>
    </div>

  </%block> <!-- footer -->


</%block> <!-- admin -->


<%block name="foot_links">
<script src="${STATIC_URL}manager/media/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<script src="${STATIC_URL}manager/media/Chart_js/src/Chart.Core.js"></script>
<script src="${STATIC_URL}manager/media/Chart_js/src/Chart.Doughnut.js"></script>
<script src="${STATIC_URL}manager/media/Chart_js/Chart.js"></script>
</%block>
