<%inherit file="base.htm" />

<%block name="center">

    <div class="jumbotron">
      <div class="container">
        <h1>Order Details</h1>
      </div>
    </div>

    <form method="POST">

		<table class="table table-striped table-bordered">

			${ form }

		</table>

		<button class="btn btn-primary pull-right save" type="submit">Save</button>
        
	</form>

</%block>

<%block name="foot_links">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

</%block> <!-- foot_links -->
