<%inherit file="base.htm" />

<%block name="center">

    <div class="jumbotron">
      <div class="container">
        <h1>Orders</h1>
      </div>
    </div>

    <a href="/manager/orders.create/" id="btn_create" class="btn btn-success pull-right create">Create new order</a>

	<table class="table table-striped table-bordered table-hover">

      <thead>
        <tr>
  				<th>Order Date</th>
  				<th>Total</th>
  				<th>User</th>
  				<th>Charge ID</th>
          <th>Actions</th>
  			</tr>
      </thead>

      <tbody>

        % for order in orders:

          <tr>
            <td>${ order.order_date }</td>
            <td>$${ order.total }</td>
            <td>${ order.user }</td>
            <td>${ order.charge_id }</td>
            <td>
              <a href="/manager/orders.edit/${order.id}"/> Edit </a>
              |
              <a href="/manager/orders.delete/${order.id}"> Delete </a>
            </td>
          </tr>

        % endfor

      </tbody>

	</table>

</%block>
