<%inherit file="base_ajax.htm" />

<%block name="content">

  <form class=form-signin id="change_password_form" method="POST" action="/shop/myaccount.change_password/">

      %for error in form.non_field_errors():

        ${ error }

      %endfor

      %for field in form:

      <label class="sr-only"> ${ field.name }</label>

      <% print('Field:',field) %>

        ${ field }

        %if field.errors != '':

        ${ field.errors }

        %endif

      %endfor

    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>

  </form>


</%block>
