<%inherit file="base_ajax.htm" />

<%block name="content">


<form class=form-signin id="editform" method="POST" action="/shop/myaccount.edit/">


    %for error in form.non_field_errors():

      ${ error }

    %endfor

    %for field in form:

    <label class="sr-only"> ${ field.name }</label>

      ${ field }

      %if field.errors != '':

        ${ field.errors }

      %endif

    %endfor

  <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>

</form>


</%block>
