<%inherit file="base_ajax.htm" />


<%block name="content">

		<form class=form-signin id="loginform" method="POST" action="/homepage/index.loginform/">

				%for error in form.non_field_errors():

					<p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> ${ error } </p>

				%endfor

				%for field in form:

				<label class="sr-only"> ${ field.name }</label>

					${ field }

					%if field.errors != '':

						${ field.errors }

					%endif

				%endfor

			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

		</form>

		<a id="forgot_password">Forgot my password</a>

</%block>
