<%inherit file="base.htm" />

<!-- landing page -->

<%block name="center">
    <div class="center">
    <div class="container homepagey">

      <div class="jumbotron">
        <h1 class="chffont">Colonial Heritage Foundation</h1>
      </div>

      <div class="row breaker">
        <h2 class="dropshadow">Welcomes You</h2>
        <p>Feel free to stay a while.... Shop around. Rent items. Explore Events.</p>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <h3>Divine Providence</h3>
          <img src="/static/homepage/media/images/divinep.jpg" style="height:200px;width:280px;border-radius:5px">
        </div>
        <div class="col-sm-4">
          <h3>Equal Rights</h3>
        <img src="/static/homepage/media/images/const.jpg" style="height:200px;width:280px;border-radius:5px">
        </div>
        <div class="col-sm-4">
          <h3>Liberty For All</h3>
        <img src="/static/homepage/media/images/liberty.jpg" style="height:200px;width:280px;border-radius:5px">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
          <div class="navbar-text pull-right">
              <h4>Follow us on:</h4>
              <a href="https://www.facebook.com/dan.morain.5"><i class="fa fa-facebook-square fa-3x"></i></a>
              <a href="https://twitter.com/DanMorain91"><i class="fa fa-twitter fa-3x"></i></a>
              <a href="https://plus.google.com/+DanMorain/posts/p/pub"><i class="fa fa-google-plus fa-3x"></i></a>
              <a href="https://instagram.com/danmo91/"><i class="fa fa-instagram fa-3x"></i></a>
          </div>
      </div>
  </div>

  <!-- Footer -->
  <hr>
  <footer>
      <div class="row">
          <div class="col-md-12">
            <p class="text-center">Colonial Heritage Founation 2015</p>
          </div>
      </div>
  </footer>

</%block>
